<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ChromwTest">
  
  
  


  
 <classes>     
<!-- <class name="testNG_TestCases.TC01_VerifyProductName_Price_Cart"></class>   
 <class name="testNG_TestCases.TC02_RElogin_verify_productPresentInCart"></class>  -->
 
 
 <class name="hrms_testscripts.TC02"></class>  
              
              
        </classes>
              
  </test> <!-- Test -->
</suite> <!-- Suite -->
